/* Estilos gerais para dispositivos móveis */
@media (max-width: 767px) {
  .navbar {
    padding: 10px; /* Ajusta o padding do menu */
    flex-direction: column; /* Alinha os itens verticalmente */
    text-align: center; /* Centraliza o texto no menu */
  }

  .navbar ul {
    flex-direction: column; /* Alinha os itens da lista verticalmente */
  }

  .navbar li {
    margin: 10px 0; /* Ajusta o espaçamento entre os itens do menu */
  }

  .container {
    margin-top: 60px; /* Mantém o espaço para o menu fixo */
    padding: 10px; /* Reduz o padding */
    width: 90%; /* Ajusta a largura para dispositivos móveis */
    max-width: none; /* Remove o limite de largura máxima */
  }

  .profile {
    width: 90%; /* Ajusta a largura para dispositivos móveis */
    padding: 10px; /* Reduz o padding */
  }

  .profile::before {
    display: none; /* Remove a imagem decorativa em telas pequenas */
  }

  .profile img {
    max-width: 100px; /* Ajusta o tamanho da imagem do perfil */
    height: 100px; /* Ajusta a altura da imagem do perfil */
  }

  .objectives, .projects, .contato {
    width: 90%; /* Ajusta a largura para dispositivos móveis */
    padding: 10px; /* Reduz o padding */
  }

  .objectives p, .projects h1, .projects h2, .contato p {
    font-size: 14px; /* Reduz o tamanho da fonte para dispositivos móveis */
  }

  .button-64 {
    font-size: 14px; /* Ajusta o tamanho da fonte dos botões */
    padding: 8px 16px; /* Reduz o padding dos botões */
  }

  .projects img {
    max-width: 100%; /* Ajusta o tamanho máximo da imagem */
  }

  .contact-link {
    font-size: 20px; /* Ajusta o tamanho dos ícones de contato */
  }

  dialog {
    width: calc(100% - 20px); /* Ajusta a largura do diálogo */
    margin-left: 15px auto;
  }
}
