

/* Estilos gerais para o body */
body {
  background-image: linear-gradient(to right top, #f7f7f7, #e5e6ee, #d0d6e6, #b8c8de, #9dbad5);
  color: #333; /* Cor padrão do texto */
  font-family: 'Arial', sans-serif; /* Fonte padrão */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove padding padrão */
}

/* Estilos para o container principal */
.container {
  margin-top: 60px; /* Ajuste conforme necessário para o tamanho do menu */
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px; /* Limita a largura máxima do container */
  padding: 20px; /* Adiciona padding ao redor do conteúdo */
}

/* Perfil */
.profile {
  width: 80%; /* Ajusta a largura para melhor centralização */
  margin: 20px auto; /* Adiciona margem superior e inferior, e centraliza horizontalmente */
  padding: 20px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  color: blue;
  background-image: url('/images/pattern.png'); /* Imagem de padrão */
  background-size: cover;
  background-repeat: no-repeat;
}

.profile::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-image: url('/images/decorative-shape.png'); /* Imagem decorativa */
  background-size: cover;
}

.profile blockquote {
  font-style: italic;
  color: #555;
  padding-left: 20px;
  margin: 20px 0;
}

.profile img {
  max-width: 120px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto; /* Centraliza a imagem */
}

.profile div {
  display: flex;
  justify-content: center; /* Centraliza os ícones horizontalmente */
}

.profile a {
  margin: 0 10px; /* Espaçamento maior entre os ícones */
}

.profile i {
  font-size: 30px;
  color: rgb(255, 165, 0);
  transition: color 0.3s ease;
}

.profile i:hover {
  color: rgb(255, 69, 0);
}

.profile .button-64 {
  display: inline-block;
  background: linear-gradient(145deg, #9DBAD5, #A3C9A8);
  border-radius: 12px;
  border: 2px solid transparent;
  color: #FFFFFF;
  font-family: 'Phantomsans', sans-serif;
  font-size: 16px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  margin: 10px auto; /* Adiciona espaçamento entre os botões e centraliza horizontalmente */
  white-space: nowrap;
}

.profile .button-64:hover {
  background: linear-gradient(145deg, #A3C9A8, #9DBAD5);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3), inset 1px 1px 4px rgba(255, 255, 255, 0.5);
  transform: translateY(-4px);
  border-color: #FFFFFF;
}

/* Estilos para a seção de conteúdo */
.conteudo {
  width: 80%; /* Ajusta a largura para melhor centralização */
  margin: 20px auto; /* Adiciona margem superior e inferior, e centraliza horizontalmente */
  padding: 20px;
  text-align: center; /* Centraliza o texto */
}

/* Estilos para as imagens de conteúdo */
.conteudo-imagem img, .conteudo-imagem2 img, .conteudo-imagem3 img, .conteudo-imagem4 img{
  max-width: 100%;
  height: auto;
  border-radius: 10%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px; /* Espaçamento inferior das imagens */
}

.conteudo-imagem img:hover, .conteudo-imagem2 img:hover, .conteudo-imagem3 img:hover, .conteudo-imagem4 img:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.texto,
.texto2,
.texto3,
.texto4 {
    max-width: 800px; /* Limita a largura do texto para uma melhor leitura */
    margin: 0 auto; /* Centraliza o texto */
    text-align: center; /* Alinha o texto ao centro */
}

/* Estilos para os textos dentro das seções de conteúdo */
.texto, .texto2, .texto3, .texto4 {
  font-family: 'Arial', sans-serif; /* Define a fonte do texto */
  font-size: 16px; /* Define o tamanho da fonte */
  line-height: 1.5; /* Define a altura da linha */
  color: #1b0ed2; /* Azul Escuro */
  margin-bottom: 15px; /* Espaçamento maior entre os parágrafos */
}

.texto h2, .texto2 h2, .texto3 h2, .texto4 h2 {
  font-family: 'Arial', sans-serif; /* Define a fonte do título */
  font-size: 20px; /* Define o tamanho do título */
  color: #0056A0; /* Azul Royal */
  margin-bottom: 15px; /* Espaçamento inferior dos títulos */
  padding: 10px 0;
}

.texto strong {
  font-weight: bold; /* Define o texto em negrito */
}


.conteudo-imagem,
.conteudo-imagem2,
.conteudo-imagem3 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza as imagens */
    margin-bottom: 30px; /* Espaçamento entre seções */
}

.conteudo-imagem img,
.conteudo-imagem2 img,
.conteudo-imagem3 img {
    max-width: 100%; /* Adapta a largura da imagem ao contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

/* Ajustes para links e botões */
a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: #1b0ed2; /* Cor padrão dos links */
}

a:hover {
  color: #0056A0; /* Cor dos links ao passar o mouse */
}
